@media (width <=800px) {
  .header {
    grid-template-rows: minmax(300px, 460px) min-content 1fr;
  }

  .header-paragraph {
    margin-block-end: 1em;
    padding-right: 4px;
  }

  .problems {
    display: flex;
    flex-direction: column;
    margin-block-end: 80px;
  }

  .tips {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1em repeat(3, auto);
  }

  .header-theme-menu-list {
    flex-direction: column;
    justify-self: end;
    margin-inline-end: 20px;
    margin-block-start: 192px;
  }

  .problems .content-title-text {
    max-inline-size: 30%;
  }

  .footer {
    margin-block-start: 40px;
  }
}

@media (width <=400px) {
  .page {
    inline-size: 375px;
  }

  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 230px auto auto;
    margin-inline: 0px;
    margin-block-end: 30px;
    padding: 10px;
    padding-bottom: 40px;
  }

  .header-title {
    --header-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header-theme-menu-list {
    flex-direction: column;
    justify-self: end;
    margin-inline-end: 5px;
    margin-block-start: 18%;
  }

  .header-paragraph {
    --header-paragraph-size: 355px;
    margin-inline-end: 5px;
    margin-block-start: 10%;
    padding-right: 0;
  }

  .main {
    padding: 0 10px;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-block-end: 50px;
  }

  .problems {
    margin-block-end: 50px;
  }

  .problems .content-title-text {
    width: 100%;
    max-inline-size: initial;
  }

  .tips {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-block-end: 50px;
  }

  .content-article {
    grid-column: 1;
  }

  .content-article-title {
    --main-indent: 0;
    grid-column: 1;
  }

  .gallery-section {
    --main-indent: 10px;
    block-size: 209vh;
  }

  .gallery {
    grid-template-columns: 1fr;
    grid-template-areas:
      "sunset"
      "ice-cream"
      "tape"
      "books"
      "street";
    gap: 10px;
  }

  .footer-title {
    margin-block-end: 40px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
