@media (width <=800px) {
  .content__horizontal {
    display: flex;
    flex-direction: column;
  }
  .header-theme-menu-list {
    flex-direction: column;
    justify-self: end;
    margin-block: 192px;
  }
}

@media (width <=400px) {
  .page {
    inline-size: 375px;
  }

  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content 1fr;
    margin-inline: 10px;
  }

  .main {
    margin-inline: 10px;
  }

  .header-theme-menu-list {
    flex-direction: column;
    justify-self: end;
    margin-block: 75px;
  }

  .header-paragraph {
    --header-paragraph-size: 100%;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .content-block {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  .content-article {
    grid-column: 1;
  }

  .gallery {
    grid-template-columns: 1fr;
    grid-template-areas:
      "sunset"
      "ice-cream"
      "tape"
      "books"
      "street";
    gap: 10px;
  }
}
